<div class="container-fluid main-container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <h1><strong>We've Moved!</strong><br>Symplify Athletics is now&hellip;</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <%= image_tag "rt-logo.png", class: "img-responsive logo" %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 text-right arrow-container">
      <%= image_tag "arrow.png", class: "arrow hidden-xs hidden-sm" %><%= link_to "Enter Here", "https://www.recruittalk.com", class: "btn btn-primary" %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <ul>
        <li>Search For Universities &amp; Tag Them to Your Favorites</li>
        <li>Contact Any Coach in the Country (DI, DII, DIII, NJCAA, NAIA)</li> 
        <li>Know When a Coach Has Read Your Email (Email Tracking)</li> 
        <li>Promote Your Game Schedule to Coaches (See Me Live)</li> 
        <li>Know How and When You Can Communicate With Athletic Coaches</li>  
        <li>Upload Stats for Multiple Sports </li> 
        <li>Unlimited Video Uploads</li> 
        <li>Multiple Stat Fields for Individual Sports</li>
        <li>Easily Navigated Dashboard & Easier Editing All Around!</li>
      </ul>
    </div>
  </div>
</div>